<!DOCTYPE html>
<html ng-app="a2_13">
<head>
    <meta charset="UTF-8">
    <title>2-3</title>
    <script src="js/angular.min.js"></script>
    <style>
        *{list-style: none;font-size: 12px;line-height: 20px;}
        input{padding:3px;width: 200px;border:1px solid #dcdcdc;margin-bottom: 20px;}
    </style>
</head>
<body>
<form name="temp_form" ng-submit="save(temp_form.$valid)" ng-controller="c2_13" novalidate>
    <div>
        <input type="text" name="t_name" ng-model="user.name" required>
        <span ng-show="temp_form.t_name.$error.required">姓名不能为空!</span>
    </div>
    <div>
        <input type="email" name="email" ng-model="user.email" required>
        <span ng-show="temp_form.email.$error.required">邮件不能为空!</span>
        <span ng-show="temp_form.email.$error.email">邮件格式不对!</span>
    </div>
    <input type="submit" ng-disabled="temp_form.$invalid" value="提交">
</form>
<script>
    var a2_13 = angular.module('a2_13',[]);
    a2_13.controller('c2_13',['$scope',function($scope){
        $scope.user = {
            name:'孟鸿远',
            email:'menghongyuan@qq.com'
        };
        $scope.save = function(isValid){
            if(isValid){
                console.log('提交成功!');
            }
        }
    }]);
</script>
</body>
</html>