<!DOCTYPE html>
<html ng-app="a2_7">
<head>
    <meta charset="UTF-8">
    <title>2-3</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
<div ng-controller="c2_7">
    <span>{{text}}</span>
    <input type="text" ng-model="text">
    <button ng-click="click_show()">点击</button>
    <button ng-click="click_para('带参数事件!')">带参数</button>
</div>
<script>
    var a2_7 = angular.module('a2_7',[]);
    a2_7.controller('c2_7',['$scope',function($scope){
        $scope.text='Angular Js!';
        $scope.click_show = function(){
            if($scope.text=='Angular Js!'){
                $scope.text = '欢迎来到Angular的世界!';
            }else{
                $scope.text='Angular Js!';
            }
        }
        $scope.click_para = function(para){
            $scope.text = para;
        }
    }]);
</script>
</body>
</html>