<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>hello,Angular</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="../js/angular.min.js"></script>
    <script>
        var app=angular.module('myApp',[]);
        app.controller('simpleCtrl',function(){
            this.dataValue="Hello,Mhy";
            this.reverseText=function(){
                this.dataValue=this.dataValue.split("").reverse().join("");
            }
        });
    </script>
    <style>
        button[type=button],input{outline: none;}
    </style>
</head>
<body>
<div class="well" ng-controller="simpleCtrl as ctrl">
    <h4>Top Level Controller</h4>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="ctrl.reverseText()">Reverse</button>
        </span>
        <input type="text" class="form-control" ng-model="ctrl.dataValue">
    </div>
</div>
</body>
</html>