<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <link rel="stylesheet" href="style.css">
    <script src="../js/angular.js"></script>
    <script src="../js/angular-route.min.js"></script>
</head>
<body ng-app="lottery">
<div ng-view id="lottery"></div>
<script type="text/ng-template" id="start">
    <div ng-controller="start">
        <a href="#/start">开始</a>
    </div>
</script>
<script type="text/ng-template" id="starting">
    <div ng-controller="starting" data-ng-init="start()">
        <div ng-repeat="item in items" ng-class="{'active':item.status}" id="{{item.id}}" class="item">
            {{item.name}}
        </div>
    </div>
</script>
<script type="text/ng-template" id="result">
    <div ng-controller="result" class="top">
        <a href="#/start" ng-click="reset()" class="reset">重新开始</a>
        <a href="#/edit" ng-click="edit()" class="edit">修改奖品</a>
        <button class="active">{{result}}</button>
    </div>
</script>
<script type="text/ng-template" id="detail">
    <div ng-controller="detail" class="top">
        <a href="#/start" ng-click="return()" class="reset">返回</a>
        <form ng-submit="add()">
            <input type="text" ng-model="name" required placeholder="名称">
            <input type="submit" class="btn" value="添加">
        </form>
        <ul>
            <li ng-repeat="item in items">
                <span>{{item.id}}</span>
                <span>{{item.name}}</span>
                <span><a href="javascript:void(0)" ng-click="del(item.id)">删除</a></span>
            </li>
        </ul>
    </div>
</script>
<script src="app_route.js"></script>
</body>
</html>