<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>hello,Angular</title>
    <script src="../js/angular.min.js"></script>
    <script type="text/ng-template" id="tpl">
        <div>
            <span>姓名:{{textName}}</span>
            <span>年龄:{{textAge}}</span>
        </div>
        <button ng-transclude></button>
    </script>
</head>
<body>
<div ng-controller="myCtrl">
    姓名: <input type="text" ng-model="textName" placeholder="请输入姓名"><br/>
    年龄: <input type="text" ng-model="textAge" placeholder="请输入年龄"><br/>
    <div>{{tips}}</div>
    <ts-tplscript a-attr="{{textName}}"></ts-tplscript>
</div>
<script>
    var myModule = angular.module('myModule',[]);
    myModule.directive('hello',function(){
        return {
            restrict:'AE',
            scope:{},
            template:'<div><input type="text" ng-model="username">{{username}}</div>',
            replace:true
        }
    });
</script>
</body>
</html>