<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>location</title>
    <style>
        *{font-size: 13px;list-style: none;padding:0;margin:0;}
        .firam{background: #f2f2f2;padding:10px;margin:auto;width:800px;}
        .firam li{overflow:hidden;line-height:36px;border-bottom:1px solid #dcdcdc;}
        .firam li span{width:25%;float:left;text-align: center;}
    </style>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="app">
<div ng-controller="myCtrl" class="firam">
    <div>
        a的值:{{a}}<br>
        b的值:{{b}}
    </div>
    <div>
        普通方式: <input type="checkbox" ng-model="a">
    </div>
    <div ng-if="!a">
        ngIf方式: <input type="checkbox" ng-model="$parent.b">
    </div>
</div>
<script>
    angular.module('app',[]).controller('myCtrl',function($scope){
        $scope.a=false;
        $scope.b=false;
    })
</script>
</body>
</html>